.wrapper {
  .page-title {
    width: 100%;
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
    background-color: white;
    box-shadow: #0000000d 0px 0px 0px 1px;
    font-weight: 500;
  }

  .content-container {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 50px;
    margin-top: 20px;
  }

  .candidates-table {
    background-color: white;
    border-radius: 10px;
    border: none;
    box-shadow: #0000000d 0px 0px 0px 1px;
    width: 100%;
    max-width: 550px;
    text-align: left;
    height: calc(100vh - 120px);
    overflow-y: scroll;

    table {
      width: 100%;
    }

    td,
    th {
      padding: 10px 20px;
      font-weight: 400;
    }

    th {
      background-color: #f8f8f8;
      position: sticky;
      top: 0;
    }

    .id-candidate {
      width: 20px;
    }
  }

  .select-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    button {
      background-color: rgb(234, 232, 245);
      border-radius: 10px;
      box-shadow: #0000001f 0px 0px 0px 1px;
      padding: 8px 10px;
      border: none;
      font-size: 16px;
      font-weight: 500;
      outline: none;
      width: 250px;
      cursor: pointer;
      user-select: none;

      &:hover {
        background-color: #f8f8f8;
        box-shadow: #0000000d 0px 0px 0px 1px;
      }
    }

    .selected-candidates {
      display: flex;
      flex-direction: column;
      gap: 6px;

      .candidate {
        padding: 8px 20px;
        width: 250px;
        border-radius: 10px;
        background-color: white;
        box-shadow: #0000000d 0px 0px 0px 1px;

        .name {
          font-weight: 600;
          font-size: 16px;
          margin-bottom: 4px;
        }

        .department {
          font-size: 14px;
        }
      }
    }
  }
}
